aleph_alpha_client
hana_ml
tokenizers==0.15.0
transformers==4.36.2
langchain==0.0.301
langchainplus-sdk==0.0.20
libclang==16.0.6
llama-index==0.8.33
nltk==3.8.1
openai==0.28.1
markdown-it-py==2.2.0
tornado==6.1
huggingface-hub
pymongo
sentence-transformers
sentencepiece
datasets
accelerate
evaluate
peft
deepspeed
bitsandbytes
